*{
    margin: 0;
    padding: 0;
}
.Matrix{
    height: 100%;
    width: 100%;
    background-image:url(https://i.pinimg.com/originals/c5/9a/d2/c59ad2bd4ad2fbacd04017debc679ddb.gif);
    background-size: cover;
    position: absolute;
}
.Giris_Kutusu{
    width: 400px;
    height: 250px;
    position: relative;
    margin:30% auto;
    background: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    margin-top: 15%;

}
.Buton_Kutusu{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: rgb(246, 4, 246);
    border-radius: 30px;
}
.BTN_Log{
    width: 220px;
    padding: 10px 60px;
    cursor: pointer;
    background: green;
    border: 0;
    border-radius: 5px;
    outline: none;
    position:relative;
    top: 184px;
    left: 95px;
}
.BTN_Log:hover{
    box-shadow: 0 0 20px #ff04ff,0 0 40px #00E4B6;
    border: 1px solid #ff04ff;
    background: #ff04ff;
    color: #000;
    transition: box-shadow 5s,border 1s,background 1s,color 1s;
}
.BTN_Rgr{
    width: 220px;
    padding: 10px 60px;
    cursor: pointer;
    background: rgb(0, 200, 255);
    border: 0;
    border-radius: 5px;
    outline: none;
    position:relative;
    top: 101px;
    right:253px;
   
}
.BTN_Rgr:hover{
    box-shadow: 0 0 20px #84ff00,0 0 40px #00E4B6;
    border: 1px solid #84ff00;
    background: #84ff00;
    color: #000;
    transition: box-shadow 5s,border 1s,background 1s,color 1s;
}
.Giris_Elementleri{
    top: 75px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.Input_Alani{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top:0;
    border-right:0;
    border-bottom: 1px  solid green;
    outline: none;
    background: transparent;
}
.BTN_Giris{    /*Butonlarin arka plan fotografini degistirmeye bak  */
    width: 220px;
    padding: 10px 60px;
    cursor: pointer;
    background: rgb(255, 0, 251);
    border: 0;
    border-radius: 5px;
    outline: none;
    position:relative;
    top: 65px;
    right:60px;
} 
button a{
    text-decoration:transparent;
    color: black;
}